.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(203, 166, 160);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 13rem;
 
}
Form {
  width: 90%;
  border-style:groove;
  border-color: forestgreen;
  padding: 1fr;
  margin: 1fr;
}

.nav {
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
  background-color: rgb(141,108,111);
  color: ghostwhite;
  width: 100vw;
  
}
.nav a {
  color: white;
  text-decoration: none;
}

