*{ 
  font-size: 12px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: antiquewhite;

  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
  padding: 13rem;
 
}
Form {
  width: 90%;
  border-style:groove;
  border-color: red;
  padding: 1fr;
  margin: 1fr;
}

.nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  background-color: rgb(141,108,111);
  color: green;
  width: 100vw;
  float: left;
  padding: 1fr;
  margin: 1fr;
  
}
.nav a {
  color: white;
  text-decoration: none;
  flex-direction: row;
}
.Navbar{ justify-content: flex-end;}

input {
  width: 69%;
  height: 5%;

}
.App {
  /* width: 90%; 
height: 9vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  width: 900px;
  height: 70px;
} 

th {
  border-bottom: 1px solid red;
}

thead {
  text-align: center;
}
table tbody tr td {
  border-width: 1px;
  border-style: solid;
  border-color: black;
} 

/* index.css */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}


